.BestSeller {
    width: 100%;
    height: 55rem;
    background: var(--gray-layout-color);
}

.BestSeller-title::after {
    content: '';
    width: 11%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--hightlight-color);
}

.BestSeller-title {
    border-bottom: 1px solid var(--vertical-line-color);
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.BestSeller-category {
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-weight: 500;
}

.BestSeller-category a {
    color: var(--dark-color);
}

.BestSeller-category a:hover {
    color: var(--darkness-color);
}

.BestSeller-title h1 {
    font-weight: 100;
}

.BestSeller-content {
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.content-main-category {
    font-size: var(--smaller-font-size);
}

.content-main-name {
    font-size: var(--normal-font-size);
    color: var(--blue-text-color);
    font-weight: 700;
}

.BestSeller-content-small .content-main-name {
    font-size: var(--small-font-size);
}

.BestSeller-content .BestSeller-content-small {
    width: 70%;
    height: 100%;
}

.BestSeller-content-small .border-content {
    display: flex;
    justify-content: space-between;
}

.BestSeller-content-small .border-content:first-child {
    margin-bottom: .5rem;
}

.BestSeller-content-small .content-small-card {
    width: 24.3%;
    padding: 1rem;
    background: var(--white-color);
}

.BestSeller-content-small .content-small-card .border-img {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BestSeller-content .BestSeller-content-main {
    width: 33%;
    height: 100%;
    background: var(--white-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.BestSeller-content-main .border-img {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BestSeller-content-main .border-img img {
    width: 90%;
    height: 90%;
}

.content-main-thumbnail {
    display: flex;
    gap: 10px;
}

.content-main-thumbnail img {
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--vertical-line-color);
}

.BestSeller-content .price-add-to-cart {
    margin-top: auto;
}

.BestSeller-content .price-add-to-cart .price {
    font-size: var(--h3-font-size);
}

.BestSeller-content .price-add-to-cart .add-to-cart {
    font-size: var(--h2-font-size);
    background-color: var(--vertical-line-color);
    padding: 5px;
    line-height: 1;
    vertical-align: middle;
    border-radius: 50%;
    color: var(--white-color);
}

.BestSeller-content .price-add-to-cart .add-to-cart i {
    width: 30px;
    height: 30px;
    line-height: 1.2;
    vertical-align: middle;
    padding-left: 1px;
}

.BestSeller-content-main:hover,
.content-small-card:hover {
    cursor: pointer;
    box-shadow: var(--darker-shadow);
}

.BestSeller-content-main:hover .add-to-cart,
.content-small-card:hover .add-to-cart {
    background-color: var(--hightlight-color);
}