.AnalyticOverview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analytic-card {
    border-radius: 15px;
    width: 18%;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    color: var(--white-color);
}

/* .analytic-card:first-child {
    background-color: violet;
}

.analytic-card:nth-child(2) {
    background-color: rgb(100, 154, 255);
}

.analytic-card:nth-child(3) {
    background-color: rgb(69, 255, 48);
}

.analytic-card:last-child {
    background-color: orangered;
} */

.analytic-card .analytic-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 5px;
    background: var(--violet-layout-color);
    color: var(--white-color);
}

.analytic-content {
    width: 60%;
}

.analytic-content .analytic-count {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.analytic-content .analytic-name {
    font-size: var(--normal-font-size);
}

.analytic-icon i {
    font-size: var(--h2-font-size);
}