.ProductDetail {
    width: 100%;
    margin-bottom: .5rem;
}

.ProductDetail-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProductDetail-breadcrumb a {
    font-weight: var(--font-medium);
    color: var(--black-color);
}

.ProductDetail-breadcrumb i {
    font-size: var(--h3-font-size);
    margin-top: -1px;
    padding: 0 5px;
}

.ProductDetail-content {
    width: 100%;
    height: 39rem;
    padding: 1.5rem 0;
    background: var(--white-color);
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-bottom: 1rem;
}

.ProductDetail-content-left {
    width: 37%;
    height: 100%;
}

.ProductDetail-content-left .PD-left-borderimg {
    width: 100%;
    height: 75%;
    border: 1px solid var(--black-color);
}

.ProductDetail-content-left .PD-left-borderimg img { 
    width: 100%;
    height: 100%;
}

.ProductDetail-content-left .PD-left-img-thumbnain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.ProductDetail-content-left .PD-left-img-thumbnain img {
    width: 17%;
    border: 1px solid transparent;
}

.ProductDetail-content-left .PD-left-img-thumbnain img:hover {
    border: 1px solid var(--crimson-color);
}

.ProductDetail-content-left .PD-left-img-favoritecount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--normal-font-size);
    height: 5%;
    cursor: pointer;
}

.ProductDetail-content-left .PD-left-img-favoritecount i {
    font-size: var(--h3-font-size);
    margin-top: -1px;
    margin-right: 5px;
    color: var(--crimson-color);
}

.ProductDetail-content-right {
    width: 60%;
    height: 100%;
}

.ProductDetail-content-right .PD-right-title {
    font-size: var(--h3-font-size);
    line-height: 1.3;
    margin-bottom: 10px;
}

.ProductDetail-content-right .PD-right-range {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--normal-font-size);
    gap: 10px;
    padding: 5px 0;
}

.ProductDetail-content-right .PD-right-range .range-start i {
    color: orange;
    font-size: var(--small-font-size);
}

.ProductDetail-content-right .PD-right-range .range-start span {
    margin-left: 5px;
}

.ProductDetail-content-right .PD-right-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--body-color);
    font-size: var(--h2-font-size);
    gap: 10px;
    padding: 1rem 1.5rem;
    margin-bottom: 10px;
}

.ProductDetail-content-right .PD-right-price .PD-price-originalprice {
    color: var(--crimson-color);
    font-weight: var(--font-medium);
}

.ProductDetail-content-right .PD-right-price .PD-price-saleprice {
    font-size: var(--small-font-size);
    color: var(--dark-color);
    margin-top: -5px;
}

.ProductDetail-content-right .PD-right-price .price-discount {
    background-color: var(--layout-sale-color);
    font-size: var(--small-font-size);
    color: var(--crimson-color);
    padding: 0 5px;
}

.ProductDetail-content-right .PD-right-producttype,
.ProductDetail-content-right .PD-right-productvalue,
.ProductDetail-content-right .PD-right-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
}

.ProductDetail-content-right .PD-right-productvalue .PD-border-value {
    max-height: 8rem;
    overflow-y: scroll;
}

.ProductDetail-content-right .PD-right-producttype .PD-border-value,
.ProductDetail-content-right .PD-right-productvalue .PD-border-value {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ProductDetail-content-right .PD-right-producttype .PD-producttype-title,
.ProductDetail-content-right .PD-right-productvalue .PD-productvalue-title,
.ProductDetail-content-right .PD-right-quantity .PD-quantity-title  {
    width: 10%;
    font-weight: var(--font-medium);
}

.ProductDetail-content-right .PD-right-producttype .PD-producttype-value,
.ProductDetail-content-right .PD-right-productvalue .PD-productvalue-value {
    padding: 5px 15px;
    border: 1px solid var(--layout-color);
    cursor: pointer;
    position: relative;
}

.ProductDetail-content-right .PD-right-producttype .PD-producttype-value::after,
.ProductDetail-content-right .PD-right-productvalue .PD-productvalue-value::after {
    content: "✔";
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--crimson-color);
    width: 30px;
    height: 30px;
    clip-path: polygon(150% 0, 0 125%, 100% 100%);
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 9px;
    padding-right: 2px;
}

.ProductDetail-content-right .PD-right-producttype .PD-producttype-value:active,
.ProductDetail-content-right .PD-right-productvalue .PD-productvalue-value:active  {
    border: 1px solid var(--crimson-color);
}

.ProductDetail-content-right .PD-right-producttype .PD-producttype-value:active::after,
.ProductDetail-content-right .PD-right-productvalue .PD-productvalue-value:active::after  {
    display: flex;
}

.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--layout-color);
}

.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls .btn-quantity{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--white-color);
    color: var(--dark-color);
    font-weight: var(--font-medium);
}

.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls .btn-quantity:first-child {
    border-right: 1px solid var(--layout-color);
}

.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls .btn-quantity:last-child {
    border-left: 1px solid var(--layout-color);
}

.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls input[type=number]::-webkit-outer-spin-button,
.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ProductDetail-content-right .PD-right-quantity .PD-quantity-controls .input-quantity {
    width: 50px;
    height: 100%;
    color: var(--crimson-color);
    text-align: center;
    font-size: 16px;
    outline: none;
    border: none;
}

.ProductDetail-content-right .PD-right-addtocartandsell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 1rem;
    height: 3rem;
}

.ProductDetail-content-right .PD-right-addtocartandsell::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--layout-color);
    position: absolute;
    bottom: -1.5rem;
}

.ProductDetail-content-right .PD-right-addtocartandsell button {
    padding: 8px 25px;
    border-radius: 2px;
}

.ProductDetail-content-right .PD-right-addtocartandsell .btn-addtocart {
    border: 1px solid var(--crimson-color);
    background-color: var(--layout-sale-color);
    color: var(--crimson-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.ProductDetail-content-right .PD-right-addtocartandsell .btn-addtocart i {
    font-size: var(--h1-font-size);
    margin-right: 10px;
}

.ProductDetail-content-right .PD-right-addtocartandsell .btn-buynow {
    background-color: var(--crimson-color);
    color: var(--white-color);
    height: 100%;
}

.ProductDetail-content-right .PD-right-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1.5rem;
}

.ProductDetail-content-right .PD-right-service i {
    font-size: var(--h3-font-size);
    color: var(--crimson-color);
    margin-top: -3px;
}

.ProductDetail-content-right .PD-right-service .PD-service-change,
.ProductDetail-content-right .PD-right-service .PD-service-origin,
.ProductDetail-content-right .PD-right-service .PD-service-ship {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

.ProductDetail-description {
    width: 100%;
    max-height: 39rem;
    padding: 1.5rem 0;
    background: var(--white-color);
    margin-bottom: 1rem;
}

.ProductDetail-description .PD-description-detailtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    background-color: var(--layout-color);
    padding: 5px 10px;
    text-transform: uppercase;
}

.ProductDetail-description .PD-description-detail {
    margin-bottom: 2.5rem;
}

.ProductDetail-description .PD-description-detail .PD-description-detailcontent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 1.5rem;
}

.ProductDetail-description .PD-description-detail .PDD-detailcontent-left {
    width: 10%;
    font-weight: var(--font-medium);
}

.ProductDetail-description .PD-description-detail .PDD-detailcontent-left .PDD-detailcontent-left-title,
.ProductDetail-description .PD-description-detail .PDD-detailcontent-right .PDD-detailcontent-right-content {
    padding-bottom: 10px;
}

.ProductDetail-description .PD-description-detaildescription .PD-description-detaildescriptioncontent {
    padding: 1.5rem 0;
}