.Analytic-chart-line {
    position: relative;
}
.Analytic-timeRange {
    position: absolute;
    top: 3rem;
    right: 1rem;
}

.Analytic-timeRange a {
    margin-left: 1.5rem;
    font-weight: var(--font-medium);
}

.Analytic-chart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.Analytic-chart .Analytic-chart-line {
    width: 68%;
    position: relative;
}

.Analytic-chart-pie {
    width: 30%;
}