.Create-User {
    border: 1px solid var(--vertical-line-color);
    padding: 5px 10px;
    font-weight: var(--font-medium);
    border-radius: 3px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.Create-User i {
    font-size: var(--h3-font-size);
    margin-top: -1px;
}

.Search-User {
    display: flex;
    border: 1px solid var(--vertical-line-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.Search-User i {
    font-size: var(--h2-font-size);
    padding: 0 20px;
    color: var(--white-color);
}

.Search-User input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: var(--small-font-size);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.Right-button {
    position: absolute;
    right: 0;
    top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}