.BannerProductCarousel {
    width: 100%;
    height: 36rem;
    background-image: url("../../../assets/images/HomeV3ProductBackground.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 2.5rem;
}

.BannerProductCarousel nav {
    padding: 2rem 0;
}

.product-cart-wrap {
    position: relative;
}

.product-cart-wrap .slick-dots {
    margin-bottom: -2.5rem;
}

.product-cart {
    padding: 10px;
}

.img-block {
    height: 100%;
    width: 50%;
}

.img-block img {
    width: 100%;
    height: 100%;
}

.product-block {
    height: 100%;
    width: 50%;
    font-size: var(--h3-font-size);
}

.product-block-title {
    position: relative;
    border-bottom: 1px solid var(--vertical-line-color);
    padding-bottom: 5px;
    margin-bottom: 1.5rem;
    color: var(--darkness-color);
}

.product-block-title::after {
    content: '';
    position: absolute;
    width: 39%;
    height: 1px;
    background-color: var(--hightlight-color);
    bottom: 0;
    left: 0;
}

.product-cart {
    background-color: var(--white-color);
    width: 98% !important; 
    height: 11.5rem;
    margin-bottom: 7px;
    transition: all .3s ease-in-out;
}

.product-cart:hover {
    box-shadow: var( --darker-shadow);
    z-index: 10;
} 

.product-cart:hover .cart-action-addtowishlist {
    display: flex;
}

.product-cart:hover .cart-addtocart-wrap {
    background-color: var(--hightlight-color);
}

.cart-wrap {
    display: flex !important;
    justify-content: space-between;
    gap: 10px;
}

.product-cart-img {
    width: 40%;
}

.product-cart-img img {
    width: 100%;
}

.product-cart-content {
    width: 60%;
}

.cart-category {
    font-size: var(--smaller-font-size);
    margin-bottom: .5rem;
}

.cart-title {
    font-size: var(--small-font-size);
    color: var(--blue-text-color);
    font-weight: 500;
    margin-bottom: .5rem;
}

.cart-price-addtocart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-addtocart-wrap {
    width: 30px;
    height: 30px;
    background-color: var(--vertical-line-color);
    border-radius: 50%;
    line-height: 1.3;
    color: var(--white-color);
    cursor: pointer;
}

.cart-addtocart-wrap i {
    vertical-align: middle;
    font-size: var(--h3-font-size);
    margin-left: 4px;
}

.cart-saleprice {
    font-size: var(--h3-font-size);
}
.cart-notsaleprice {
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

.BannerProductCarousel .slick-next {
    position: absolute;
}

.cart-action-addtowishlist {
    display:  flex;
    justify-content: space-around;
    border-top: 1px solid var(--vertical-line-color);
    padding-top: 12px;
    display: none;
}

.add-wishlist {
    display: flex;
    justify-content: center;
    gap: 5px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
}

.add-wishlist:hover {
    color: var(--darkness-color);
}

.add-wishlist p,
.add-wishlist i {
    font-size: var(--small-font-size);
    color: var(--dark-color);
}

.BannerProductCarousel .slick-prev {
    width: 30px;
    height: 30px;
    top: -40px;
    right: 35px;
    left: unset;
}

.BannerProductCarousel .slick-next {
    top: -41px;
    right: 10px;
}

.BannerProductCarousel .slick-next:before,
.BannerProductCarousel .slick-prev:before {
    font-size: 25px;
    color: var(--dark-color);
}