.FormProfile {
    width: 70rem;
    height: 35rem;
    position: absolute;
    left: 50%;
    top: 10rem;
    z-index: 1000;
    border-top: 2px solid var(--hightlight-color);
    /* box-shadow: var(--darker-shadow);
    background-color: var(--white-color); */
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 1rem);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.FormProfile.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0rem);
    z-index: 1000;
}

.FormProfile-avatar {
    width: 29%;
    height: 80%;
    box-shadow: var(--darker-shadow);
    background-color: var(--white-color);
    text-align: center;
    padding: 2rem;
}

.FormProfile-info {
    width: 70%;
    height: 100%;
    box-shadow: var(--darker-shadow);
    background-color: var(--white-color);
}

.FormProfile-avatar .avar-fullname {
    font-weight: bold;
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.FormProfile-avatar .avar-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--hightlight-color);
    padding: 5px;
    margin: 0 auto;
    position: relative;
}

.border-avar {
    position: relative;
}

.FormProfile-avatar .del-avar {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: .6rem;
    right: 3.5rem;
    background-color: var(--white-color);
    border: 2px solid var(--hightlight-color);
    border-radius: 50%;
    color: var(--darkness-color);
}

.del-avar i {
    font-size: var(--h2-font-size);
    line-height: 1.3;
    vertical-align: middle;
}

.avar-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avar-upload-img {
    background-color: var(--hightlight-color);
    padding: 5px 10px;
    color: var(--white-color);
    font-size: var(--h4-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 2px;
}

.avar-upload-img i {
    font-size: var(--h3-font-size);
    padding: 0px 5px 2px 2px;
}

.upload-limit {
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    background-color: var(--layoutlight-color);
    padding: 5px 10px;
    font-size: var(--small-font-size);
    margin: 1rem auto;
    color: var(--darkness-color);
    margin-bottom: 2rem;
}

.FormProfile-info .info-header {
    height: 20%;
    background-color: var(--layout-color);
    border-bottom: 1px solid var(--layoutdarker-color);
    padding: 2rem 2rem 0;
    position: relative;
}

.info-header-title {
    font-weight: bold;
    font-size: var(--h3-font-size);
}

.info-header-tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 1.5rem;
}

.info-header-tab .tab-info {
    margin-top: 4px;
    position: relative;
    cursor: pointer;
}

.info-header-tab .tab-info.active {
    font-weight: 500;
}

.info-header-tab .tab-info.active::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--hightlight-color);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.info-body-tab {
    width: 100%;
    height: 80%;
    padding: 2rem;
}

.info-body-tab .tab-body{
    display: none;
}

.info-body-tab .tab-body.active {
    display: block;
}