.FormActionLogin {
    width: 17rem;
    position: absolute;
    box-shadow: var(--darker-shadow);
    right: -0.3rem;
    top: 3.5rem;
    z-index: 1000;
    border-top: 2px solid var(--hightlight-color);
    background-color: var(--white-color);
    visibility: hidden;
    opacity: 0;
    transform: translateY(.5rem);
    transition: all .3s ease-in-out;
}

.FormActionLogin.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 1000;
}

.FormActionLogin ul {
    display: block;
    margin: .5rem 0 .5rem 0;
    position: relative;
    padding: 1rem 0;
}

.FormActionLogin ul::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: var(--layout-color);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.FormActionLogin ul::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: var(--layout-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.FormActionLogin ul li {
    width: 100%;
    height: 2rem;
    margin-bottom: 2px;
    line-height: 2;
    vertical-align: middle;
    padding: 0 10px;
    align-items: center;
    justify-content: flex-start;
}

.FormActionLogin .action_button:hover {
    background-color: var(--layout-color);
}

.FormActionLogin .avatar-info {
    width: 100%;
    margin-bottom: .5rem;
}

.FormActionLogin .avatar-info p {
    text-align: center;
}

.avatar-info .border-avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 15px auto 5px;
    overflow: hidden;
}

.FormActionLogin .avatar-info .border-avatar img {
    width: 100%;
    height: 100%;
}

.FormActionLogin .logout_bt {
    padding: 0 12px 10px 12px;
    width: 100%;
    height: 2rem;
    margin-bottom: 8px;
    line-height: 2rem;
}

.logout_bt i {
    margin-right: 5px;
}