.TrendingProduct {
    width: 100%;
    height: 20rem;
    border-bottom: 1px solid var();
}

.TrendingProduct-title h1 {
    font-weight: 100;
}

.TrendingProduct-title {
    position: relative;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--vertical-line-color);
}

.TrendingProduct-title::after {
    content: '';
    width: 17%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--hightlight-color);
}