.Create-Category {
    position: absolute;
    top: 1rem;
    right: 0;
    border: 1px solid var(--vertical-line-color);
    padding: 5px 10px;
    font-weight: var(--font-medium);
    border-radius: 3px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.Create-Category i {
    font-size: var(--h2-font-size);
    margin-top: -1px;
}


