.RightBody {
    flex: 1;
    height: 100%;
    padding: .5rem 2rem;
}

.RightBody-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.RightBody-breadcrumbs {
    margin-bottom: 1rem;
}

.RightBody-analyticchart {
    margin-bottom: 2rem;
}

.RightBody-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RightBody-bottom-category {
    width: 65%;
}

.RightBody-bottom-calendar {
    width: 30%;
    height: 18rem;
}

.RightBody-content {
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr th {
    border: 1px solid var(--vertical-line-color);
    text-align: center;
    padding: 7px 10px;
}

table tr td {
    border: 1px solid var(--vertical-line-color);
    padding: 5px 10px;

}

table tr .combo-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

table .bx-trash {
    font-size: var(--normal-font-size);
    color: red;
    cursor: pointer;
    padding: 3px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.2);
}
table .bx-edit {
    font-size: var(--normal-font-size);
    color: green;
    cursor: pointer;
    padding: 3px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.2);
}

table .bx-image-add {
    font-size: var(--normal-font-size);
    color: blue;
    cursor: pointer;
    padding: 3px;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: rgba(14, 1, 247, 0.2);
}

table .bx-lock {
    font-size: var(--normal-font-size);
    color: red;
    cursor: pointer;
    padding: 3px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: rgba(255, 8, 0, 0.2);
}

table .bx-lock-open {
    font-size: var(--normal-font-size);
    color: green;
    cursor: pointer;
    padding: 3px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.2);
}


table .bx-image-add:hover {
    background-color: rgba(14, 1, 247, 0.3);
}

table .bx-edit:hover {
    background-color: rgba(0, 128, 0, 0.3);
}

table .bx-trash:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

table .bx-lock:hover {
    background-color: rgba(255, 0, 0, 0.3);
}


/* Modal form */

.Modal-header {
    width: 100%;
}

.Modal-header .Header-title {
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.Modal-header .Header-title i {
    font-size: var(--h1-font-size);
}

.Modal-body {
    width: 100%;
    background: var(--main-background-color);
    padding: 1rem;
    border-bottom: 1px solid var(--vertical-line-color);
}

.Modal-body .Modalborder-input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.Modal-body .Modalborder-input:last-child {
    margin-bottom: 0;
}

.Modalborder-input .input-label {
    margin-bottom: 5px;
    font-weight: var(--font-medium);
}

.Modalborder-input input,
.Modalborder-input textarea,
.Modalborder-input select {
    width: 100%;
    border: 1px solid var(--vertical-line-color);
    outline: none;
    padding: 5px 10px;
    font-size: var(--small-font-size);
}

.Modal-footer {
    padding: 1rem;
    background: var(--main-background-color);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.Modal-footer button {
    border: 1px solid var(--vertical-line-color);
    outline: none;
    padding: 2px 10px;
    border-radius: 3px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.Modal-footer button i {
    margin-top: -1px;
}
