.LeftBar {
    width: 13%;
    height: 100%;
    border-right: 1px solid var(--vertical-line-color);
    /* background: var(--orangeviolet-gradient-color); */
    transition: background 0.5s ease;
    transition: width .5s ease-in-out;
    overflow: hidden;
}

.LeftBar.minimize {
    width: 4.5rem;
    position: relative;
}

.LeftBar.minimize i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
}

/* .LeftBar ul li span {

}

.LeftBar.minimize ul li span {
    
} */

.LeftBar ul {
    padding: 1rem;
    color: var(--white-color);
}

.LeftBar ul li {
    position: relative;
    padding: 10px;
    height: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    margin-bottom: .5rem;
    cursor: pointer;
}

.LeftBar ul li:hover {
    background-color: var(--violet-layout-color);
}

.LeftBar ul a {
    left: 2.7rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
    width: 200px;
    transition: left 0.3s ease-in-out;
}

.LeftBar i {
    font-size: var(--h3-font-size);
    margin-top: -3px;
    margin-right: 1rem;
    transition: margin .5s ease-in-out;
}