.RightBody {
    flex: 1;
    height: 100%;
    padding: .5rem 2rem;
}

.RightBody-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.RightBody-breadcrumbs {
    margin-bottom: 1rem;
}

.RightBody-analyticchart {
    margin-bottom: 2rem;
}

.RightBody-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RightBody-bottom-category {
    width: 65%;
}

.RightBody-bottom-calendar {
    width: 30%;
    height: 18rem;
}