.SectionProductCardCarousel {
    width: 100%;
    height: 35rem;
    overflow: visible;
}

.SectionProductCardCarousel-title {
    border-bottom: 1px solid var(--vertical-line-color);
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 2rem;
}

.SectionProductCardCarousel-title h1 {
    font-weight: normal;
}

.SectionProductCardCarousel-title::after {
    content: '';
    width: 21%;
    height: 1px;
    background-color: var(--hightlight-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.SectionProductCardCarousel-content {
    height: 30rem;
}

.SectionProductCardCarousel-card {
    width: 99% !important;
    height: 14.2rem;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    margin: 2px;
}


.SectionProductCardCarousel-card:hover::after {
    content: none;
}

.SectionProductCardCarousel-card .card {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 10.5rem;
}

.SectionProductCardCarousel-card:hover {
    box-shadow: var(--darker-shadow);
}

.SectionProductCardCarousel-card .cart-content-title {
    color: var(--blue-text-color);
    font-size: var(--normal-font-size);
    font-weight: 700;
}

.SectionProductCardCarousel-card .card-img {
    width: 45%;
}

.SectionProductCardCarousel-card .card-content {
    display: flex;
    flex-direction: column;
    height: 10rem;
    position: relative;
    padding: 0 .5rem 1rem 1rem;
}

.SectionProductCardCarousel-card .cart-content-category {
    font-size: var(--smaller-font-size);
}

.SectionProductCardCarousel-card .price-add-to-cart {
    margin-top: auto;
}

.SectionProductCardCarousel-card .price-add-to-cart .price {
    font-size: var(--h3-font-size);
}

.SectionProductCardCarousel-card .price-add-to-cart .add-to-cart {
    font-size: var(--h2-font-size);
    background-color: var(--vertical-line-color);
    padding: 5px;
    line-height: 1;
    vertical-align: middle;
    border-radius: 50%;
    color: var(--white-color);
}

.SectionProductCardCarousel-card .price-add-to-cart .add-to-cart i {
    width: 30px;
    height: 30px;
    line-height: 1.2;
    vertical-align: middle;
    padding-left: 1px;
}

.SectionProductCardCarousel-card:hover .add-to-cart {
    background-color: var(--hightlight-color);
}

.SectionProductCardCarousel-card .hover-area {
    display: flex;
    margin-left: 39%;
    border-top: 1px solid var(--vertical-line-color);
    padding-top: .55rem;
    justify-content: space-around;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.SectionProductCardCarousel-card:hover .hover-area {
    visibility: visible;
    opacity: 1;
}

.hover-area .add-to-wishlist {
    display: flex;
    line-height: 1.4;
    vertical-align: middle;
    gap: 5px;
}

.hover-area .add-to-wishlist i {
    font-size: var(--h3-font-size);
}

.hover-area .add-to-wishlist:hover {
    color: var(--darkness-color);
}

.SectionProductCardCarousel .slick-next:before, 
.SectionProductCardCarousel .slick-prev:before {
    color: var(--dark-color);
    font-size: 2rem;
}

.SectionProductCardCarousel .slick-prev {
    position: absolute;
    top: -3.5rem;
    left: unset;
    right: 3.7rem;
    width: 40px;
    height: 40px;
}

.SectionProductCardCarousel .slick-next {
    position: absolute;
    top: -3.5rem;
    right: 1rem;
    width: 40px;
    height: 40px;
}

