.CategorySale {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.CategorySale .inner {
    width: 23.5%;
    background-color: var(--layout-color);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.inner .inner-img {
    width: 80%;
    margin-right: 10px;
}

.inner-img img {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.inner-content a {
    color: var(--black-color);
    font-weight: 800;
}

.inner-content a i {
    font-size: var(--h3-font-size);
    line-height: 1;
    vertical-align: middle;
    background-color: var(--hightlight-color);
    border-radius: 50%;
    color: var(--white-color);
}
